@using Products.Data.Models
@model List<Product>
@{
    ViewData["Title"] = "Products' catalog";
}

<h2>Список пользователей</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Note Custom</th>
        <th>General Note</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Category.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.NoteCustom</td>
            <td>@item.GeneralNote.Name</td>
        </tr>
    }
</table>