@using Products.Configurations
@using Products.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CategoryDetailsViewModel
@{
    ViewData["Title"] = Model.Category.Name + " - продукты";
    Layout = "~/Views/Shared/_BodyPartial.cshtml";
}

<h2>@Model.Category.Name</h2>
@if (User.IsInRole(CustomRoles.Administrator) && !Model.IsDefaultCategory)
{
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-outline-warning btn-block" asp-action="Edit" asp-controller="Categories" asp-route-id="@Model.Category.CategoryId">Редактировать категорию</a>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
            <a class="btn btn-outline-danger btn-block" asp-action="Delete" asp-controller="Categories" asp-route-id="@Model.Category.CategoryId">Удалить категорию</a>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Примечание общее</th>
        <th>Примечание специальное</th>
    </tr>
    @foreach (var item in Model.Category.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.GeneralNote</td>
            <td>@item.NoteCustom</td>
        </tr>
    }
</table>