@using Products.Configurations
@using Products.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BaseViewModel
@{
    ViewData["Title"] = "Все категории";
    Layout = "~/Views/Shared/_BodyPartial.cshtml";
}

<h2>Список всех категорий</h2>
@if (User.IsInRole(CustomRoles.Administrator))
    {
        <div class="row">
            <a class="btn btn-outline-info btn-block" asp-controller="Categories" asp-action="Edit">Добавить категорию</a>
        </div>
    }
<table class="table">
    <tr>
        <th></th>
        <th>Категория</th>
        <th>Количество продуктов</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @if (string.IsNullOrEmpty(item.Image.Path))
                {
                    <img class="card-img-top" alt="Bootstrap Thumbnail First" src="data:image/jpeg;base64, @item.Image.Bytes)">
                }
                else
                {
                    <img class="card-img-top" alt="Bootstrap Thumbnail First" src="@item.Image.Path">
                }
            </td>
            <td>@item.Name</td>
            <td>@item.Count</td>
            <td><a class="btn btn-outline-success" asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId">Перейти</a></td>
        </tr>
    }
</table>